slashformotion <slashformotion@protonmail.com> <45801817+slashformotion@users.noreply.github.com>
slashformotion <slashformotion@protonmail.com> Théophile Roos <45801817+slashformotion@users.noreply.github.com>
slashformotion <slashformotion@protonmail.com> Slashformotion <45801817+slashformotion@users.noreply.github.com>

Pascal Quach <pascal.quach@centralesupelec.fr> <20374810+quachpas@users.noreply.github.com>

Pol Dellaiera <pol.dellaiera@protonmail.com>
Stowy <stowy@protonmail.ch>
indicatelovelace <mail@neva.blue>
Jan Romann <jan.romann@hs-emden-leer.de>
Julian <20155974+JuliDi@users.noreply.github.com>
VESSE Leo <leovesse@gmail.com>
