name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

# https://github.com/tingerrr/hydra/blob/main/.github/workflows/ci.yml
jobs:
  test-matrix:
    strategy:
      matrix:
        # https://typst-community.github.io/tytanic/reference/compat.html
        # 0.2.2 -> 0.13.1
        # 0.3.3 -> 0.14.2
        tytanic: [0.2.2]
    name: tytanic@${{ matrix.tytanic }}
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
      - name: Install tytanic
        uses: typst-community/setup-tytanic@v1
        with:
          tytanic-version: ${{ matrix.tytanic }}
      - name: Versions
        run: |
          tt --version
      - name: Test suite
        run: |
          tt run -F
  docs-matrix:
    strategy:
      matrix:
        typst: [0.13.1] #, 0.14.2]
    name: Docs typst@${{ matrix.typst }}
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
      - name: Install typst
        uses: typst-community/setup-typst@v3
        with:
          typst-version: ${{ matrix.typst }}
      - name: Versions
        run: |
          typst --version
      - name: Build docs
        run: | # make sure docs build without errors or warnings
          typst compile advanced-docs/main.typ --root .


